* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    width: 100%;
    max-width: 100%;
    display: block;
    float: left;
    height: 100%;
    object-fit: contain;
}

.container {
    margin: 0 auto;
    max-width: 90%;
}

li a {
   text-decoration: none;
}

label {
    float: left;
    width: 100%;
}

input[type=text] {
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 40%;
  border-color: blue !important;
}

.box {
    margin: 10px 0;
}

#result {
    border: 1px solid;
    display: none;
}

.imagebox {
    float: left;
    width: 20%;
    height: 20rem;
}
.submitbox {
    float: left;
    width: 100%;
}